@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', sans-serif;
}

.body{
    color: #2e9ab7;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #2e9ab7;
}


ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    overflow: hidden;
}

a {
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



.telaLogin {
    background-color: #2e9ab7;
    display: flex;
    height: 100%;
    width: 100%;
}

.esquerda-login {
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background: #2e9ab7;
    margin-top: 7%;
}

.esquerda-login .imagemlogo {
    width: 100%;
    height: 100%;
}

.fraselogin {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
}

.textologin {
    width: 50%;
    border: none;
    padding-top: 100px;
    background-color: #2e9ab7;
    font-size: 12pt;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.textologin .botaologin {
    margin-top: 30px;
    width: 50%;
    color: #181818;
    background-color: 	#003c8b;
    padding: 10px 0px 10px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}


.textologin input {
    color: #181818;
    background-color: #FFFFFF;
    border: none;
    box-sizing: border-box;
    width: 70%;
    height: 47px;
    margin-top: 70px;
    border-radius: 7px;
    display: flex;
    padding: 0 0 0 20px;
}

.botaoVoltarParaATeladeCadastro {
    border: 0;
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 16pt;
}


.div_botaologin {
    justify-content: center;
    display: flex;
    align-items: center;
}
.div_botaologin a{

    font-size: 20px;
    color: #FFFFFF;
}
.div_botaologin :hover {
    transform: scale(1.1);
}


.centralizar_input {
    display: flex;
    flex-direction: column;
    align-items: center;
}