@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    color: #f1f1f1;
    font-family: 'Oxanium', sans-serif;
    outline: none;
    background-color: none;
}

.quiz {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
    /* padding: 8rem 4rem 4rem 4rem; */
    background-color: #2e9ab7 ;
}

.quiz .info {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.quiz .img_quiz {
    display: flex;
    justify-content: flex-end;
}

.img_quiz img {
    width: 600px;
}
.info{
   display: flex;
    align-items:end;


}


.quiz h1 {
    font-weight: 700;
    font-size: 54px;
    color: #FFFFFF;
    margin: 0 0 1rem 0;
    
}

.quiz p {
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    margin: 0 0 1rem 0;
}

.botao_serv {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background: #003c8b;
    border-radius: 20px;
    padding: .3rem;
    transform: scale(1.0);
    transition: all 0.5s;
    border: none;
    outline: none;
}

.botao_serv a {
    font-size: 20px;
}

.botao_serv:hover {
    transform: scale(1.1);
}